<ion-view view-title="Location Search">
  <ion-content>
    <ion-list >
      <ion-item class="list-inset">
        <label class="item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input
            type="search"
            placeholder="Search location..."
            ng-model="$parent.$parent.query"
            ng-change="$parent.queryChanged()"
          />
        </label>
      </ion-item>
       <ion-item class='result' ng-repeat='city in cityArray' ui-sref='app.weather({
          city: city.formatted_address,
          lat: city.geometry.location.lat,
          lng: city.geometry.location.lng
        })'>
        {{city.formatted_address}}
      </ion-item>
    </ion-list>
    </ion-list>
  </ion-content>
</ion-view>
